body {
    background-color: #2C3930;
    color: #DCD7C9
}

* {
    padding: 0px;
    margin: 0px;
}

#one {
    display: flex;
    background-color: #3F4F44;
    width: 100%;
    height: 50px;
    color: #DCD7C9;
    position: fixed 0px;
    font-weight: normal;


}

.one h2 {
    margin-top: 8px;
    margin-left: 5px;
}

.two {
    display: flex;
    margin-left: 70%;
    position: fixed;
    margin-top: 8px;



}

.two a {
    color: #DCD7C9;
    text-decoration: none;
    margin-left: 10px;
}

#two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.base {
    flex-basis: 35%;

}

.color {
    font-weight: bolder;
    flex-basis: 35%;
    margin-top: 100px;
    margin-left: 70px;
}

#About {
    margin-left: 10px;
    font-family:'Times New Roman', Times, serif;
}
#contact{
    color:#DCD7C9;
    margin-top:70px;

}
#contact a{
    color:#DCD7C9;
}
.query{
    margin-left: 45%;
}
.submit{
    height:30px;
    width:60px;
    color:black;
    background-color:orange;
}
hr{
    border-color:#3498db;
}

       